<header class="header" id="header">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="logo" src="assets/images/bws-logo-solo.png" alt="Bossa Web Solutions"/>
      <span class="logo-text"><b class="first-letter">B</b>OSSA <b class="first-letter">W</b>EB <b class="first-letter">S</b>OLUTIONS</span>
    </a>
    <div class="navbar-links">
      <a (click)="scrollTo('about')">
        <mat-icon class="icon">info</mat-icon> Sobre
      </a>
      <a (click)="scrollTo('sites')">
        <mat-icon class="icon">public</mat-icon> Sites
      </a>
      <a (click)="scrollTo('systems')">
        <mat-icon class="icon">desktop_windows</mat-icon> Sistemas
      </a>
      <a (click)="scrollTo('apps')">
        <mat-icon class="icon">smartphone</mat-icon> Apps
      </a>
      <a (click)="scrollTo('contact')">
        <mat-icon class="icon">email</mat-icon> Contato
      </a>
    </div>
  </div>
</header>
