<div class="about__container" id="about">
  <h1 class="about__welcome-title">BOAS VINDAS AO SEU SUCESSO DIGITAL</h1>
  <br><br>
  <div class="about__image-and-list-container">
    <div class="about__image-container">
      <img class="about__welcome-image" src="assets/images/about_main.png" alt="Boas Vindas à Bossa Web Solutions" />
    </div>
    <div class="about__list-container">
      <div class="about__animation-container">
        <div class="about__spans-container">
          <span class="about__word"><b class="about__disappear-dash">_</b>TECNOLOG</span>
          <span class="about__word">INTELIGÊNC</span>
          <span class="about__word"><b class="about__disappear-dash">_ </b>ESTRATÉG</span>
          <span class="about__word"><b class="about__disappear-dash">_ _ _ _ </b>CIÊNC</span>
        </div>
        <span class="about__base-text">IA</span>
      </div>
      <ul class="about__list">
        <li>
          <h2 class="about__main-topic"><mat-icon class="about__icon-style">arrow_forward_ios</mat-icon> Sites</h2>
          <ul class="about__sublist">
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Portfólios</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Empresas</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Landing Pages</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Blogs</h4></li>
          </ul>
        </li>
        <li>
          <h2 class="about__main-topic"><mat-icon class="about__icon-style">arrow_forward_ios</mat-icon> Sistemas</h2>
          <ul class="about__sublist">
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> E-Commerce</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Cadastros</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Relatórios</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Análises Gráficas</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Fluxo de Caixa</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Controle de Estoque</h4></li>
          </ul>
        </li>
        <li>
          <h2 class="about__main-topic"><mat-icon class="about__icon-style">arrow_forward_ios</mat-icon> Apps</h2>
          <ul class="about__sublist">
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Lojas</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Delivery</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Mensagens</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Produtividade</h4></li>
            <li><h4><mat-icon class="about__sub-icon-style">check</mat-icon> Entretenimento</h4></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>  
  <p class="about__text">
    Bem-vindo à <b class="about__bold-text">Bossa Web Solutions</b>, uma empresa dedicada ao desenvolvimento de sites,
    sistemas e aplicativos sob medida. Nossa equipe altamente qualificada e apaixonada está pronta para transformar
    suas ideias em realidade digital. Nosso foco está em entender as necessidades exclusivas de cada cliente e oferecer
    soluções personalizadas que impulsionam o crescimento dos negócios. <b class="about__bold-text">Sites</b>, <b class="about__bold-text">Sistemas</b>, 
    <b class="about__bold-text">Apps</b>, <b class="about__bold-text">e-Commerce</b>, relatórios e análises inteligentes (<b class="about__bold-text">IA</b>), 
    integrações com meios de pagamento, gerenciamento de servidores de hospedagem, e muito mais. O que você imaginar, o que precisar.
    Com compromisso por excelência e inovação, estamos prontos para transformar seu mundo digital.
  </p>
</div>
<div class="about__separator"></div>