<div class="container" id="about">
  <h1 class="h1-welcome">BOAS VINDAS AO SEU SUCESSO DIGITAL</h1>
  <br><br>
  <div class="image-and-list-container">
    <div class="image-container">
      <img class="bws-welcome-image" src="assets/images/about_main.png" alt="Boas Vindas à Bossa Web Solutions" />
    </div>
    <div class="list-container">
      <div class="animation-container">
        <div class="spans-container">
          <span class="word"><b class="disappear-dash">_</b>TECNOLOG</span>
          <span class="word">INTELIGÊNC</span>
          <span class="word"><b class="disappear-dash">_ </b>ESTRATÉG</span>
          <span class="word"><b class="disappear-dash">_ _ _ _ </b>CIÊNC</span>
        </div>
        <span class="base-text">IA</span>
      </div>
      <ul>
        <li>
          <h2 class="main-topic"><mat-icon class="icon-style">arrow_forward_ios</mat-icon> Sites</h2>
          <ul class="sublist">
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Portfólios</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Empresas</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Landing Pages</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Blogs</h4></li>
          </ul>
        </li>
        <li>
          <h2 class="main-topic"><mat-icon class="icon-style">arrow_forward_ios</mat-icon> Sistemas</h2>
          <ul class="sublist">
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> E-Commerce</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Cadastros</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Relatórios</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Análises Gráficas</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Fluxo de Caixa</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Controle de Estoque</h4></li>
          </ul>
        </li>
        <li>
          <h2 class="main-topic"><mat-icon class="icon-style">arrow_forward_ios</mat-icon> Apps</h2>
          <ul class="sublist">
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Loja</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Delivery</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Mensagens</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Produtividade</h4></li>
            <li><h4><mat-icon class="sub-icon-style">check</mat-icon> Entretenimento</h4></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>  
  <p class="p-txt">
    Bem-vindo à <b class="b-style">Bossa Web Solutions</b>, uma empresa dedicada ao desenvolvimento de sites,
    sistemas e aplicativos sob medida. Nossa equipe altamente qualificada e apaixonada está pronta para transformar
    suas ideias em realidade digital. Nosso foco está em entender as necessidades exclusivas de cada cliente e oferecer
    soluções personalizadas que impulsionam o crescimento dos negócios. <b class="b-style">Sites</b>, <b class="b-style">Sistemas</b>, 
    <b class="b-style">Apps</b>, <b class="b-style">e-Commerce</b>, relatórios e análises inteligentes (<b class="b-style">IA</b>), 
    integrações com meios de pagamento, gerenciamento de servidores de hospedagem, e muito mais. O que você imaginar, o que precisar.
    Com compromisso por excelência e inovação, estamos prontos para transformar seu mundo digital.
  </p>
</div>
<div class="separator"></div>
