<div class="computer-screen-background">
    <div class="container" id="sites">
        <h1 class="title-component" (click)="toggleOffContents()">Sites</h1>
        <h3>
            <span class="menu-item" (click)="toggleWebsitesContent()">Websites personalizados</span>
            <b class="menu-dash">|</b>
            <span class="menu-item" (click)="toggleIdentityContent()">Sua identidade digital</span>
        </h3>
        <div class="flex-align">
            <img class="img" src="assets/images/site_main.png" alt="Websites" />
            <div class="flex-container">
                <p class="paragraph-component">
                    Construímos a ponte digital para o seu sucesso, com websites personalizados que se destacam.
                    Nosso foco está em criar uma presença online única e memorável para sua marca.
                    Com designs modernos e funcionais, garantimos uma experiência envolvente para seus visitantes.
                    Do desenvolvimento à implementação, nossa equipe se dedica a atender suas necessidades.
                    Conte conosco para transformar sua visão em realidade digital.
                </p>
                <p *ngIf="validateIfContents()" class="interaction-message">
                    Interaja com os menus desta seção
                </p>
                <p class="paragraph-component visual-content" *ngIf="showWebsitesContent">
                    Seu website, personalizado do seu jeito
                </p>
                <div class="identity" *ngIf="showIdentityContent">
                    <div class="paragraph-container">
                        <p class="paragraph-component additional-content">
                            <mat-icon class="icon">check_circle</mat-icon>Identidade digital forte
                        </p>
                        <p class="paragraph-component additional-content">
                            <mat-icon class="icon">check_circle</mat-icon>Destaque-se no mundo online
                        </p>
                        <p class="paragraph-component additional-content">
                            <mat-icon class="icon">check_circle</mat-icon>Deixe sua marca
                        </p>
                    </div>
                    <img class="img-digital" src="../../assets/images/site_digital_fingerprint.png"
                        alt="Identidade Digital" />
                </div>

            </div>
        </div>
    </div>
</div>
<div class="separator"></div>