:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.contact-section {
  width: 100%;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 260px;
  margin-right: 25px;
}

.container {
  margin-left: 3vw;
  align-items: center;
  margin: 0;
}

.text-container .title-component {
  color: #00aaff;
  font-size: 2.5rem;
  margin-top: 5vw;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
  margin-top: 0px;
}

label {
  color: white;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #00aaff;
  border-radius: 5px;
  background-color: black;
  color: white;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #012448;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.text-danger {
  color: red;
}

.btn {
  cursor: pointer;
}

.whatsapp {
  width: 2vw;
}

.text-container h3 {
  margin: 0;
  white-space: nowrap;
}

.form-section {
  margin-bottom: 50px;
}

.whatsapp-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.whatsapp-link:hover {
  background-color: #012448;
  border-radius: 5px;
}

.contact-section .text-container .adjust-content {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
}

.mat-icon-style {
  color: #00aaff;
}

@media screen and (max-width: 768px) {
  :host {
    display: block;
  }

  .wrapper {
    display: block;
    margin-bottom: 10vh;
  }
  
  .contact-section {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .text-container {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    align-items: center;
    align-content: center;
    align-self: center;
  }

  .container {
    order: 2;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    height: auto;
    padding-bottom: 0px;
  }

  h3 {
    font-size: 1rem;
  }

  .contact-section .text-container .title-component {
    font-size: 1.5rem;
  }

  .adjust-content {
    font-size: 1.5rem;
  }

  .whatsapp {
    height: 25px;
    width: 25px;
  }
}
