:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title-component {
  color: #00aaff;
  font-size: 2.5rem;
  margin-top: 5vw;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-section {
  width: 100%;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 260px;
  margin-right: 25px;

  &__text-container {
    margin-bottom: 20px;
    width: 100%;
  }

  &__adjust-content {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
  }
}

h4 {
  color: white;
  font-size: 1.2rem;
}

.container {
  margin-left: 3vw;
  align-items: center;
  margin: 0;

  &__form-section {
    margin-bottom: 50px;
  }
}

.form-group {
  margin-bottom: 5px;
  margin-top: 0px;

  label {
    color: white;
  }

  input[type="text"],
  input[type="email"],
  input[type="phone"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #00aaff;
    border-radius: 5px;
    background-color: black;
    color: white;
  }

  .form-group__error-message {
    color: red;
    display: block;
  }
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #012448;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.whatsapp {
  width: 2vw;
}

.text-container h3 {
  margin: 0;
  white-space: nowrap;
}

.whatsapp-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    background-color: #012448;
    border-radius: 5px;
  }
}

.mat-icon {
  color: #00aaff;
}

@media screen and (max-width: 768px) {
  :host {
    display: block;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  .wrapper {
    display: block;
    margin-bottom: 10vh;
  }
  
  .contact-section {
    margin-top: 100px;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
    align-self: center;

    &__text-container {
      order: 1;
      height: auto;
      align-items: center;
      align-content: center;
      align-self: center;
    }
  }

  .container {
    order: 2;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    height: auto;
    padding-bottom: 0px;
  } /* TODO - arrumar essa porra aqui */

  .contact-section__title-component {
    font-size: 1.5rem;
  }

  .contact-section__adjust-content {
    font-size: 1.5rem;
  }

  .whatsapp {
    height: 25px;
    width: 25px;
  }
}