.separator {
  padding: 2rem;
}

.portfolio-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s;
  text-align: center;
  width: 25rem;
  height: 21rem;
}

.portfolio-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.portfolio-card__header {
  padding: 1rem;
  background-color: #f5f5f5;
}

.portfolio-card__title {
  font-size: 1.5rem;
  color: #012448;
  margin: 0;
}

.portfolio-card__description {
  font-size: 1rem;
  color: #555;
  margin: 20px auto;
  hyphens: auto;
  text-align: justify;
  width: 100%;
  margin-bottom: 0rem;
}

.portfolio-card__image-container {
  position: relative;
  height: 30rem;
  overflow: hidden;
}

.portfolio-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 224px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.portfolio-card__image.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .portfolio-card {
    width: 12.5rem;
    height: 8.5rem;
  }

  .portfolio-card__title {
    font-size: 0.8rem;
    margin-bottom: -2rem;
  }

  .portfolio-card__description {
    display: none;
  }

  .portfolio-card__image {
    width: 12.5rem;
    height: 8.5rem;
  }
}
