.smartphone {
    border: 5px solid #d3d3d3;
    border-radius: 2rem;
    width: 55vw;
    margin: 1rem auto;
    overflow: hidden;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.smartphone__screen {
    background-color: darkgray;
    padding: 1rem;
}

.smartphone__container {
    text-align: center;
    padding: 1rem 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.smartphone__box-align {
    display: block;
    width: 70%;
    margin: 0 auto;
    border-radius: 1.5rem;
    padding: 2rem;
    padding-bottom: 0;
}

.smartphone__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.smartphone__image {
    width: 15vw;
    max-width: 20rem;
    border-radius: 1.5rem;
    margin: 0 1.5rem;
    transition: transform 0.3s ease;
}

.smartphone__image:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.smartphone__title {
    color: #00aaff;
    font-size: 2.5rem;
    margin-bottom: 7vh;
    margin-top: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

.smartphone__h3 {
    margin-top: 10vh;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.smartphone__bold-text {
    font-weight: bold;
}

.smartphone__paragraph {
    width: 90%;
    text-align: justify;
    margin: 0;
    padding: 0 3vw 3vw 3vw;
    font-size: 1.3rem;
    hyphens: auto;
}

.smartphone__round-btn {
    width: 3vw;
    height: 3vw;
    border-radius: 2rem;
    background-color: #d3d3d3;
    margin-bottom: 5vh;
    display: inline-block;
}

.smartphone__round-btn:hover {
    background-color: #acaaaa;
    cursor: pointer;
}

@media (max-width: 768px) {
    .smartphone {
        width: 80%;
        border-width: 0.2rem;
    }

    .smartphone__screen {
        padding: 0.3rem;
    }

    .smartphone__box-align {
        width: 90%;
        border-width: 0.4rem;
    }

    .smartphone__image-container {
        padding-right: 1.8rem;
    }

    .smartphone__image {
        width: 15vw;
        margin: 1rem;
        border-radius: 1rem;
    }

    .smartphone__paragraph {
        width: 90%;
        font-size: 1rem;
        max-height: 10rem;
        overflow-y: auto;
        margin-bottom: 3rem;
        hyphens: auto;
    }

    .smartphone__title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        padding-right: 1.2rem;
    }

    .smartphone__h3 {
        font-size: 1rem;
        margin-top: 5vh;
    }

    .smartphone__round-btn {
        width: 8vw;
        height: 8vw;
        margin-bottom: 0;
    }

    .smartphone__round-btn:hover {
        width: 8vw;
        height: 8vw;
    }
}