<div class="container" id="systems">
    <div class="flex-align">
        <div class="stacked-text">
            <h1 class="title-component">Sistemas <span class="terminal-dash"></span></h1>
            <h3 id="typedWord">&nbsp;</h3>
            <p class="paragraph-component">
                Com nossos sistemas personalizados, transformamos a complexidade em simplicidade. 
                Simplificamos trabalhos manuais, automatizando processos e aumentando a eficiência. 
                Nossas soluções são feitas sob medida para suas necessidades específicas. 
                Desde vendas até inventário, oferecemos soluções completas. 
                Simplifique sua operação e alcance novos patamares de produtividade.
            </p>
        </div>
        <img class="img" src="assets/images/1.png" alt="Systems"/>
    </div>
</div>
<div class="separator"></div>
