<div class="systems" id="systems">
    <div class="systems__align">
        <div class="systems__stacked-text">
            <h1 class="systems__title">SISTEMAS <span class="systems__terminal-dash"></span></h1>
            <h3 id="typedWord">&nbsp;</h3>
            <p class="systems__paragraph">
                Com nossos sistemas personalizados, transformamos a complexidade em simplicidade. 
                Simplificamos trabalhos manuais, automatizando processos e aumentando a eficiência. 
                Nossas soluções são feitas sob medida para suas necessidades específicas. 
                Desde vendas até inventário, oferecemos soluções completas. 
                Simplifique sua operação e alcance novos patamares de produtividade.
            </p> 
        </div>
        <img class="systems__image" src="assets/images/system_main.png" alt="Systems"/>
    </div>
</div>
<div class="systems__separator"></div>