@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: aatmospheric;
  src: url(assets/fonts/aAtmospheric.otf) format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: linear-gradient(
      to right,
      #001830 0%,
      #001830 20%,
      #111827 40%,
      #0a0a0a 60%,
      #000000 85%,
      #000000 100%
    );
  background-repeat: no-repeat;
  background-position: top right;
  background-blend-mode: overlay;
}
